.post-grid {
    --white: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    row-gap: 2em;
    column-gap: 2em;
}

.post-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
}

.post-card > img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.post-card-content {
    padding: 2em;
    background-color: var(--white);
}

.post-card-excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hero {
    --white: #fff;
    --dark: #111;
    height: 40em;
    padding-block: 10em;
    margin-top: -5em;
    margin-bottom: -25em;
    color: var(--white);
    background-color: var(--dark);
    z-index: -1;
}

.hero-inner {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
}

.hero-inner h1 {
    font-family: "Mulish",Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    font-size: 52px;
    font-weight: 600;
    line-height: 1.4;
}

header a {
    --white: #fff;
    color: var(--white) !important;
}

header {
    border: 0 !important;
}
