---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
    .page-header,.main-content {
        padding: 0 6rem;
        margin: 0;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header,.main-content {
        padding: 0 4rem;
        margin: 0;
    }
}

@media screen and (max-width: 42em) {
    .page-header,.main-content {
        padding: 0 1rem;
        margin: 0;
    }
}

.page-menu {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}
.page-menu li {
    float: left;
}
.page-menu a {
    float: left;
    padding: 1em;
    text-decoration: none;
}