---
---

/* Standard styles */
a {
    text-decoration: none;
}

/* Common styles */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallax-inner {
    position: absolute;
    height: 100%;
    width: 100%;
}
.bg-business-header {
    background-image: url(/assets/img/business-header.jpg);
    min-height: 500px;
}
.bg-green-curves {
    background-image: url(/assets/img/green-curves.jpg);
    min-height: 500px;
}
.bg-footer-wood {
    background-image: url(/assets/img/footer-wood.webp);
    min-height: 250px;
}

/* For header.html */
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
}
.demo-sidebar {
    background: url('/assets/img/book-glasses.jpg') center / cover;
}
.demo-title {
    /*display: flex;
    flex-direction: column;*/
    color: white;
}
.demo-title a {
    color: inherit;
}

/* For home.html */
.demo-quote {
    background: rgba(255, 255, 255, 0.5);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.demo-quote p {
    font-size: inherit;
    font-weight: inherit;
}

/* For blog.html */
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('/assets/img/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}