<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body>
    <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include header.html %}

        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="page-content mdl-cell mdl-cell--8-col">
                    <h1>{{ page.title }}</h1>
                    {{ content }}

                    <div class="mdl-grid">
                        {% for post in site.posts %}
                        <div class="demo-card-wide mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">{{ post.title }}</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                {{ post.excerpt }}
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                    href="{{post.url}}">
                                    See More...
                                </a>
                            </div>
                            <div class="mdl-card__menu">
                                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">share</i>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}

    </div>
</body>

</html>