<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{% include head.html %}

<body class="demo-layout-waterfall mdl-layout mdl-js-layout">
    {% include header.html %}

    <main class="mdl-layout__content">
        <div class="page-content">
            {{ content }}
        </div>
    </main>
    {% include footer.html %}



    {{ content }}
    <main id="content" class="main-content" role="main">
        {% for post in site.posts %}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ post.title }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{ post.excerpt }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{post.url}}">
                    See More...
                </a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>
            </div>
        </div>
        {% endfor %}
    </main>
    {% include footer.html %}
</body>

</html>