<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body>
    <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include header.html %}

        <main class="mdl-layout__content">
            <div class="page-content">
                {% for fragment in site.fragments %}
                {{ fragment.content }}
                {% endfor %}
            </div>
        </main>
        {% include footer.html %}

    </div>
</body>

</html>